<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLbcAoeDQALiFZte5boWlqk3Cq8sOHKf9ZmA&usqp=CAU" alt="" height="200px" width="" srcset="">
  </div>
  <div class="big-card__title">
    <a href="#"><h1>Saiu a nova versão do angular</h1></a>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum, or lipsum as it is sometimes known,
        is dummy text used in laying out print, graphic or web designs.
      </a>
    </p>
  </div>
</div>
