<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/7ec0067a-460f-11ec-aa6e-9587410378a2/marvel-disney-plus-shows.jpg"
      alt="" height="" width="" srcset="">
    </div>
    <div class="small-card__title">
      <a href="#"><h1>Saiu a nova versão do angular</h1></a>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr>
  </div>
</div>
