
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="1" cardDescription = "Marvel anuncia novo homem de ferro"
    cardTitle="Homem de Ferro em 3D" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLbcAoeDQALiFZte5boWlqk3Cq8sOHKf9ZmA&usqp=CAU">
    </app-big-card>
    <app-big-card Id="2" cardDescription = "Minha Gostosa"
    cardTitle="Gostosa Delicia" photoCover="assets/img/minha-gostosa.jpg">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card Id="3" photoCover="assets/img/minha-futura-esposa.jpg" cardTitle="Gostosa"></app-small-card>
  </div>
</div>
